h4
{
margin:1em 0 0.5em;
}

#scenario
{
width:auto;
height:auto;
overflow:hidden;
border:1px solid #330000;
float:left;
}

.mapTile
{
outline:1px dotted #cccccc;
float:left;
/*overflow:hidden;*/
font-size:8px;
line-height:10px;
}

.mapTile:hover
{
background:rgba(255,0,0,0.25);
}

.clear
{
clear:both;
}

.mapTile[tessel=acqua]
{
background:#0000ff;
}

.mapTile[tessel=terra]
{
background:#993300;
}

.mapTile[tessel=erba]
{
background:#00ff00;
}

.object
{
position:absolute;
width:36px;
height:36px;
margin-top:-12px;
margin-left:-12px;
background:rgba(255,0,0,1);
outline:1px solid #000000;
}

.action
{
position:absolute;
width:36px;
height:36px;
margin-top:-12px;
margin-left:-12px;
background:rgba(0,255,0,1);
outline:1px solid #000000;
}
