<div id="stats-header">
	<div class="stats-column stats-column-name">
		<span id="closeStats" class="glyphicon glyphicon-remove"></span>
	</div>
	{{for actions}}
		<div class="stats-column stats-col-{{:#index}}">
			<img src="./svg/{{:#data.shape}}" />
			<div>{{:#data.name}}</div>
		</div>
	{{/for}}
</div>

{{for data}}
	<div class="stats-row" style="background:{{:#data.b.color}}">
		<div class="stats-column stats-column-name">
		{{:#data.b.name}}
		</div>
		{{for #data.actions}}
			<div class="stats-column stats-col-{{:#index}}">
			{{:#data}}
			</div>
		{{/for}}
	</div>
{{/for}}

<div id="stats-footer">
	<div class="stats-column stats-column-name">
	TOTALE
	</div>
	{{for totals}}
		<div class="stats-column stats-col-{{:#index}}">
		{{:#data}}
		</div>
	{{/for}}
</div>

<!--
<pre>
{{props}}
{{>key}}
	{{props prop}}
	{{>key}}
		{{props prop}}
			{{>key}}: {{>prop}}
		{{/props}}
	{{/props}}
{{/props}}
</pre>
-->
